html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/* navbar */

nav {
  background-color: #0f4c75;
  width: 100%;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding: 1rem;
  flex-wrap: wrap;
}

.nav-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar ul li a {
  color: white;
  padding: 0.5rem;
  margin: 0 0.4rem;
  border-bottom: 2px transparent solid;
  font-size: small;
  text-decoration: none;
  cursor: pointer;
}

.navbar ul li a:hover {
  border-color: gold;
}

#logo {
  width: 50px;
  height: 50px;
  color: #fff;
}

/* showcase content */

section {
  display: grid;
  grid-template-columns: repeat(10, auto);
}

.animateDiv {
  background-color: white;
  height: 100vh;
  transition: background-color 1s;
}
.Home-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  color: white;
}
.Home-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home-content h1 {
  font-size: 6rem;
  font-family: "Ubuntu", sans-serif;
}
.Home-content p {
  font-size: 1rem;
  text-align: center;
  display: inline-block;
}

.seprate-line {
  height: 2px;
  background-color: transparent;
  margin-bottom: 10px;
  animation: animate1 3s forwards ease-in;
  animation-delay: 2s;
}
@keyframes animate1 {
  from {
    width: 0%;
  }
  to {
    width: 50%;
    background-color: #5eaadd;
  }
}

/* social icon div */

.social-icons {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 40%;
  opacity: 0;
}
.icon {
  position: relative;
  margin-left: 25px;
}
.social-icons .icon .line {
  position: absolute;
  border-left: 2px dotted rgb(139, 243, 246);
  height: 30px;
  left: 40%;
  top: 38px;
}
.social-icons .icon {
  margin-bottom: 40px;
}

i {
  color: rgb(130, 182, 175);
}
i:hover {
  color: rgb(1, 255, 191);
}

/* About */
#About {
  display: block;
  background-color: rgb(235, 235, 235);
}
.heading {
  color: rgb(0, 57, 71);
  font-weight: 700;
}
#About .heading {
  display: inline-block;
  padding: 20px 20px 20px 0;
}
#About .container .about-content {
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-gap: 1rem;
}
.about-info {
  display: grid;
  grid-template-areas:
    "about-1 about-1 about-1"
    "about-2 about-2 about-3";
  grid-gap: 3rem;
}
.about-1 {
  grid-area: about-1;
  text-align: left;
}
.about-1 h4 {
  text-align: left;
  width: 75%;
  font-size: 1rem;
}
.about-1 p {
  display: inline-block;
  width: 50%;
  font-size: 0.8rem;
  padding-left: 20px;
}
.left-border {
  border-left: 2px solid rgb(13, 184, 147);
}
.hr {
  position: relative;
  padding-top: 10px;
}
.hr h5 {
  font-size: 0.8rem;
}
.hr-line {
  position: absolute;
  width: 70%;
  height: 0.4px;
  background-color: rgb(150, 165, 167);
  top: 16px;
  left: 70px;
}
.about-2 {
  grid-area: about-2;
}
.about-2 ul {
  list-style-type: none;
  border-left: 2px solid rgb(0, 57, 71);
  padding-left: 10px;
}
.about-2 ul li {
  padding: 3px;
  font-size: 0.9rem;
}
.about-3 {
  grid-area: about-3;
}
.about-3 ul {
  list-style-type: none;
  border-left: 2px solid rgb(0, 57, 71);
  padding-left: 10px;
}
.about-3 ul li {
  padding: 5px;
  font-size: 0.9rem;
}
.about-4 h4 {
  color: rgb(0, 57, 71);
  padding: 30px 20px 20px 0;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 700;
}
.about-4 ul {
  list-style-type: square;
}
.about-4 ul li {
  font-size: 0.8rem;
  padding: 8px;
}
.heading-2 {
  color: rgb(0, 57, 71);
  display: inline-block;
  padding: 20px 20px 20px 0;
  font-weight: 500;
}
/* services */
#Services {
  display: block;
  background-color: #0f4c75;
  color: #fff;
}
#Services .heading {
  color: #fff;
  text-align: center;
  
}
.p-2{
  font-weight: bolder;
}
.card-img-top {
  height: 150px;
}
.card-body{
  background-color: rgb(190, 190, 190);
}
.card-text{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card {
  color: black;
  text-align: center;
  transition: all 1s ease-in-out;
  
}
.card:hover{
   transform:;
   transform-origin: center center;
   transform: rotate3d(1, 1, 1, 360deg);
   
} 

/* clients */

/* contact */
#Contact {
  display: block;
  background-color: rgb(235, 235, 235);
}
#Contact input,
#Contact textarea {
 
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  width: 100%;
  outline: none;
  box-shadow: none !important;
}
.form-control {
  border-radius: 0;
}
.form-control:focus::placeholder {
  border-radius: 0;
  -webkit-text-emphasis: none;
  color: transparent;
}
.btn-primary {
  width: 100%;
}
#Contact h4 {
  text-align: center;
}
#contact-logo {
  height: 150px;
  width: 150px;
  transition: all .5s ease-in-out;
}
#contact-logo:hover{
  transform: rotate(360deg);
}
#contact-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact-2 p {
  margin: 0px;
  
}
#contact-2 #h5{
  font-weight: bolder;
}
.contact-link {
  list-style-type: none;
}
.contact-link li {
  padding: 5px;
}
.contact-link li span {
  margin-left: 5px;
}
.contact-icon {
  list-style-type: none;
  display: flex;
}
.contact-icon .icon {
  padding-right: 15px;
  margin-left: 0px;
  margin-right: 15px;
}
#contact-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
#h4{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: x-large;
}
/* footer */
#Footer {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
}
#Footer .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Footer .container p {
  font-size: 0.7rem;
  margin: 0px;
}
#Footer .container p:hover {
  cursor: pointer;
  color: gold;
}

/* hamburger */
.hamburger {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.hamburger:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  html,
  body,
  .Home-content {
    overflow-x: hidden;
  }
  .nav-ul {
    display: none;
    width: 100%;
    flex-direction: column;
  }
  .navbar ul li {
    padding: 10px;
  }
  .show {
    display: flex;
    height: 90vh;
  }
  .hamburger {
    display: block;
  }
  .height {
    height: 100vh;
    background-color: #0f4c75;
  }
  #contact-2 {
    display: none;
  }
}

/* small-screen */
@media screen and (max-width: 500px) {
  .Home-content h1 {
    font-size: 3rem;
  }
  .Home-content p {
    font-size: 0.7rem;
    text-align: justify;
    display: inline-block;
    padding: 0 70px;
  }
  .Home-content .logo {
    height: 140px;
    width: 140px;
  }
  .icon {
    margin-left: 15px;
  }
  .text{
    top: 55%;
    font-size: 9px;
  }
}
